{% extends 'base.html' %}

{% block title %}<h1>Uлавная</h1>
{% endblock %}


{% block content %}
     <div class="header">
          <div class="container-fluid">
              <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
                  <div class="container-fluid">
                      <a class="navbar-brand" href="http://127.0.0.1:8000/">PRIDE</a>
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarNav">
                          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                              <li class="nav-item">
                                  <a class="nav-link active" aria-current="page" href="#">Services</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link active" aria-current="page" href="#">Shedule</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link active" aria-current="page" href="#">Trainers</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link active" aria-current="page" href="#">Equipment</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link active" aria-current="page" href="#">Workout programs</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link active" aria-current="page" href="#">Nutrition advice</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link active" aria-current="page" href="#">News</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link active" aria-current="page" href="#">Rules</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link active" aria-current="page" href="#">Contact</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link active" aria-current="page" href="#"><i class="fa-solid fa-user"></i></a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </nav>
          </div>
      </div>
    <H1>ПРАВИЛА</H1>
{% endblock %}
