{% extends 'base.html' %}

{% block title %}<h1>Uлавная</h1>
{% endblock %}


{% block content %}
    <div class="d-flex justify-content-center">
        <h1>News</h1><br>
    </div>
    <div class="text-center">
        {% for news in newsall %}
            <div class="container">
                <div class="card mb-5 bg-dark text-white">
                    <img src="{{ news.image.url }}" class="card-img" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ news.title }}</h5>
                        <p class="card-text">{{ news.about|truncatewords:30|linebreaks }}</p>
                        <p class="date">
                            Published {{ news.publish }} by {{ news.author }}
                        </p>
                        <a href="{% url 'detail_news' news.id %}" class="btn btn-warning">REad</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-center">
                    {% include "pagination.html" with page=page_obj %}
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="d-sm-flex justify-content-between">
                <div class="footer-left">
                    <a href="">Terms and conditions</a>
                    <a href="">Privacy</a>
                </div>
                <div class="footer-right">
                    <span>Follow</span>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
